:root {
    --primary: #FF6000;
    --secondary: #FFA800;
    --dark-primary: #444444;
    --dark-secondary: #939B9E;
    --text-white: #ffffff;
    --light-gray: #E7E7E7;
}

/* --------------- Common Styles ----------------- */
.section-title-no-bg h4 {
    font-weight: 500;
    font-size: 30px;
    color: var(--dark-primary);
}

.btn-primary-filled {
    background-color: var(--primary);
    color: white;
}

.btn-primary-filled:hover {
    background-color: #fc7d2f;
    color: white;
}

.btn-primary-transparent {
    border: 1px solid var(--primary);
}

.btn-primary-transparent:hover {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(--text-white);
}

.btn-secondary-filled {
    background-color: var(--secondary);
    color: white;
}
.btn-secondary-filled:hover {
    background-color: #ffbb34;
    color: white;
}

.btn-secondary-transparent {
    border: 1px solid var(--secondary);
}

.btn-secondary-transparent:hover {
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    color: var(--text-white);
}

.primary-text {
    color: var(--primary);
}

.secondary-text {
    color: var(--secondary);
}


/* -------------------------- Custom Responsive Card ------------------------------ */
.ec-card-group{
    display: flex; 
    justify-content: center;   
    flex-wrap: wrap;    
}
.ec-card-group .ec-card{
    width: 250px;    
    padding: 5px;
}
.ec-card-group .ec-card-lg{
    width: 320px;    
    padding: 5px;
}
.ec-card-group .ec-card .ec-card-inner{   
    height: 100%;
}




/* ----------------------- Sidemenu Open Close -------------------------- */
.main-content{
    margin-left: 250px;     
    padding-top: 55px;
    transition: all 0.4s ease;
}
.main-content.category-closed{
    margin-left: 0;
}
.main-content.cart-open{
    margin-right: 280px;
}

.sidemenu-container{
    position: fixed;
    width: 250px;  
    background-color: white;
    height: 100%;
    padding: 10px 15px;
    transition: all 0.3s ease;  
    overflow-y:auto;
}

.sidemenu-container.hide-menu{
    left: -250px;  
}

.sidemenu-container ul{
    
}

#category-toggle-custom-sidemenu{
    margin-top: 70px;
}



/* ----------------------- Cart Open Close -------------------------- */
.add_to_cart{
    width: 280px!important;
    z-index: 9998;
    margin-top: 55px;
}



/* ------------------------ NavBar with Search ----------------------- */
.custom-header {
    background-color: var(--primary);
    height: 55px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.custom-header .category-contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

/* Header Left */

.custom-header .category-contain .category-left .header-category .category-toggle-btn {
    color: var(--text-white);
    display: flex;
    align-items: center;
    margin: 0px 10px;
}

.custom-header .category-contain .category-left .header-category #category-toggle-custom-sidemenu-button {
    cursor: pointer;
}

.custom-header .category-contain .category-left .header-category .category-toggle-btn i {
    font-size: 18px;
}


/* Header Middle */
.custom-header .search-container {
    flex-grow: 0.8;
}

.custom-header .search-container .search {
    background-color: var(--light-gray);
    border-radius: 28px;
    display: flex;
    justify-content: space-between;
}

.custom-header .search-container .search .category-dropdown .all-categories-btn {
    background-color: var(--secondary);
    border-radius: 28px 0 0 28px;
    color: var(--text-white);    
    margin: 2px;   
}

.custom-header .search-container .search .search-input {    
    flex-grow: 1;
}

.custom-header .search-container .search .search-input input {
    border: none;
    width: 100%;
    height: 100%;    
    padding: 5px;
    background-color: transparent; 
}

.custom-header .search-container .search .search-input input:focus {
    outline: none;
}

.custom-header .search-container .search .search-btn {
    background-color: var(--secondary);
    border-radius: 0 28px 28px 0;   
    margin: 2px;  
}

.custom-header .search-container .search .search-btn i {
    color: var(--text-white);
}

.custom-header .search-container .search-close-button {
    display: none;
}

/* Header Right */
.custom-header .category-contain .icon-block ul li .item-count-contain {
    position: absolute;
    top: -10px;
    right: -8px;
}

.custom-header .category-contain .icon-block-mobile{
    display: none;
}
.custom-header .category-contain .icon-block ul li span{
    display: none;
}




/* --------------- BootStrap Sidemenu ----------------- */
#category-toggle-custom-sidemenu li{
    display: block;
}

#category-toggle-custom-sidemenu .menu-heading {
    padding-left: 40px;
    border-bottom: 1px solid #939B9E;
}

#category-toggle-custom-sidemenu .menu-heading a {
    margin-bottom: 10px;
    display: block;
    color: black;
}

#category-toggle-custom-sidemenu .menu-heading a .text {
    display: inline-block;
    width: 75px;
    font-weight: normal;
}

#category-toggle-custom-sidemenu .menu-heading a .number {
    display: inline-block;
    text-align: center;
    width: 25px;
    font-size: 12px;
    border: 1px solid var(--secondary);
    padding: 4px 5px;
    border-radius: 5px;
    color: var(--primary);
}

#category-toggle-custom-sidemenu .category-sidemenu-back-container {
    display: none;
}

#category-toggle-custom-sidemenu .category-sidemenu-back-container h3 {
    display: inline-block;
    font-weight: 500;
    margin-left: 10px;
}

.sidemenu-icon {
    width: 16px;
    margin-right: 15px;
}

.sub-category {
    margin-left: 15px;
}

.sub-sub-category {
    margin-left: 15px;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    color: black;
    background-color: transparent;
    border: 0;
    font-size: 14px;
}


.btn-toggle::after {
    width: 1em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
    transform: rotate(90deg);
    position: absolute;
    right: 15px;
}

.btn-toggle[aria-expanded="true"] {
    color: var(--secondary);

}

.btn-toggle[aria-expanded="true"]::after {
    transform: rotate(0);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.scrollarea {
    overflow-y: auto;
}



/* --------------------- Header Banner -------------------------- */
#megastore-collection-banner {
    transition: all 0.4s ease;
}

#megastore-collection-banner.collection-banner-open {
    padding-left: 275px;
}

#megastore-collection-banner.collection-banner-close {
    padding-left: 12px;
}

.header-category .category-toggle {
    background-color: transparent;
}

.category-btn-logo-container {
    display: flex;
    align-items: center;
    justify-content: start;
}




/* Extra Extra big screen devices (1401 and above) */
@media only screen and (min-width: 1401px) {
   
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
 
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 1000px) and (max-width: 1199px) { 
    
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) and (max-width: 999px) {
    .custom-header .category-contain {
        padding: 10px 0;
    }  
}


/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .main-content{
        margin-left: 0;              
    }
    .sidemenu-container{        
      z-index: 9998;
    }
    .sidemenu-container .category-sidemenu .menu-heading{
        padding-left: 15px!important;
    }
    .custom-header .category-contain {
        padding: 10px 0;
    }
    .category-btn-logo-container h2{
        display: none;
    }
    #megastore-collection-banner.collection-banner-open {
        padding-left: 12px !important;
    } 
    #category-toggle-custom-sidemenu {       
       
    }
    #category-toggle-custom-sidemenu .category-sidemenu-back-container {
        display: block;
    }    
}


/* For extremely small screen devices (599px and below) */
@media only screen and (max-width: 599px) {
    .main-content{
        margin-left: 0;              
    }
    .sidemenu-container{        
      z-index: 9998;
      padding-top: 70px;
    }
    .sidemenu-container .category-sidemenu .menu-heading{
        padding-left: 15px!important;
    }
    .custom-header .category-contain {
        padding: 10px 0;
    }
    .category-btn-logo-container h2{
        display: none;
    }
    #megastore-collection-banner.collection-banner-open {
        padding-left: 12px !important;
    } 
    #category-toggle-custom-sidemenu {       
       
    }
    #category-toggle-custom-sidemenu .category-sidemenu-back-container {
        display: block;
    }    
      
    .custom-header .category-contain .category-left .header-category .category-btn-logo-container h2{
        display: none;
    }    
    .custom-header .category-contain {
        padding: 10px 0;
    }    

    .custom-header .search-container .search .category-dropdown {
        display: none;
    }
    .custom-header .search-container .search .search-input input {
        width: 100%;
        padding: 5px 15px;
    }

    .custom-header .search-container .search-close-button i {
        font-size: 22px;
    }

    .custom-header .category-contain .icon-block{
        display: none;
    }
    .custom-header .category-contain .icon-block.icon-block-show{
        display: block;
        position: absolute;
        right: 20px;
        top: 55px;        
    }
    .custom-header .category-contain .icon-block.icon-block-show ul{
        background-color: white; 
        padding: 15px 0px;       
    }
    .custom-header .category-contain .icon-block.icon-block-show ul li{
        display: block;      
        color: black;
        padding: 8px 20px;        
    }
    .custom-header .category-contain .icon-block.icon-block-show ul li:hover{
        background-color: var(--primary);   
        cursor: pointer;     
    }
    .custom-header .category-contain .icon-block.icon-block-show ul li span{
        display: inline-block;
    }
    .custom-header .category-contain .icon-block.icon-block-show ul li i{
        width: 25px;
    }
    .custom-header .category-contain .icon-block.icon-block-show ul li .item-count-contain {
       left: 10px;
       top: 2px;
    }    
    
    .custom-header .category-contain .icon-block-mobile{
        display: block;
    }    

    #megastore-collection-banner.collection-banner-open {
        padding-left: 12px !important;
    }

    #category-toggle-custom-sidemenu {
        top: -12px;
        left: -12px;
        margin-top: 0;
        height: 100vh;
        z-index: 1000;
    }

    #category-toggle-custom-sidemenu .category-sidemenu-back-container {
        display: block;
    } 
    
    


    /* ------------ Cart List Float ------------- */
    .main-content.cart-open{
        margin-right: 0;
    }
}






/* ---------------------- Hot Deals  ----------------------- */

.hot-deals-section {
    background: #ffffff;
}

.hot-deals-section .hot-deals-wrapper {
    -webkit-clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%);
    background: #F5F6FB;
    border-radius: 0;
    border: none;
}

.hot-deals-section .hot-deals-wrapper .hot-deal-header {
    background: var(--secondary);
    color: var(--text-white);
}

.hot-deals-section .hot-deals-wrapper .hot-deal-header h4 {
    font-size: 32px;
    padding: 10px 30px;
    font-weight: 500;
}

.hot-deals-section .hot-deals-wrapper .hot-deals-inner {
    -webkit-clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%);
    padding: 20px 20px;
    box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.7);
}

.hot-deals-section .hot-deals-wrapper .hot-deals-inner .hot-deals-image {
    display: flex;
    justify-content: start;
    align-items: center;
}

.hot-deals-section .hot-deals-wrapper .hot-deals-inner .hot-deals-image img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 15px;
    margin-bottom: 30px;
}

.hot-deals-section .hot-deals-wrapper .hot-deals-inner .hot-deals-price span {
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
}

.hot-deals-section .hot-deals-wrapper .hot-deals-inner .hot-product-deals {
    margin-left: 17px;
    margin-top: 10px;
}

.hot-deals-section .hot-deals-wrapper .hot-deals-inner .hot-product-deals h5 {
    font-size: 25px;
    color: #000000;
    margin-bottom: 15px;
    font-weight: 500;
}

.hot-deals-section .hot-deals-wrapper .hot-deals-inner .hot-product-date-inner {
    margin: 20px;
}

.hot-deals-section .hot-deals-wrapper .hot-deals-inner .hot-product-date-inner .hot-product-cont {
    margin-top: 10px;
}

.hot-deals-section .hot-deals-wrapper .hot-deals-inner .hot-product-date-inner .hot-product-cont h6 {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 10px;
}

.hot-deals-section .hot-deals-wrapper .hot-deals-inner .hot-product-date-inner .hot-product-cont p {
    font-size: 14px;
}

.hot-deals-section .hot-deals-wrapper .hot-deals-inner .hot-product-date-inner .hot-date-inner {
    display: flex;
    justify-content: start;
    align-items: center;
}

.hot-deals-section .hot-deals-wrapper .hot-deals-inner .hot-product-date-inner .hot-date {
    text-align: center;
}

.hot-deals-section .hot-deals-wrapper .hot-deals-inner .hot-product-date-inner .hot-date .count-number {
    background: var(--secondary);
    width: 50px;
    height: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    font-weight: 400;
}

.hot-deals-section .hot-deals-wrapper .hot-deals-inner .hot-product-date-inner .hot-date .count-text {
    font-size: 12px;
    font-weight: 400;
}

.hot-deals-section .hot-deals-wrapper .hot-deal-btn {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
}

.hot-deals-section .hot-deals-wrapper .hot-deal-btn .right {
    margin-right: 100px;
}


.hot-deals-section .product-gallery-wrapper .gallery-filters {
    text-align: end;
}

.product-gallery-wrapper .gallery-filter-wrap {
    border-bottom: 2px solid var(--primary);
}

.section-big-pt-space {
    padding-top: 0px;
}

.portfolio-section .filter-button {
    font-size: 18px;
    padding: 9px 10px;
    color: #9AA1A4;
}

.portfolio-section .filter-button.active {
    background-color: #ffffff;
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}

.portfolio-section .offer {
    color: var(--text-white);
    background: var(--primary);
    font-weight: bold;
    border-radius: 50%;
    padding: 13px 7px;
    ;
    position: absolute;
    font-size: 20px;
    right: 5px;
}

.portfolio-section .product-cont {
    padding: 20px;
}

.portfolio-section .product-cont h6 {
    font-size: 16px;
    color: #444444;
    font-weight: bold;
    margin-bottom: 10px;
}

.portfolio-section .product-cont span {
    font-size: 14px;
}

.product-port {
    padding: 10px;
    background: #F8F8F8;
    border: none;
}

.portfolio-section .isotopeSelector .overlay-background button {
    left: 20%;
    text-align: center;
    margin: 0 20px;
    background: var(--primary);
}

.portfolio-section .isotopeSelector .overlay-background button:nth-child(2) {
    left: 40%;
    margin: 0 20px;
}

.portfolio-section .isotopeSelector .overlay-background button:nth-child(3) {
    left: 60%;
    margin: 0 20px;
}

.portfolio-section #form1 {
    padding-bottom: 0px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 50px;
    transition: all 3s ease;
}

.portfolio-section .isotopeSelector {
    float: left;
    position: relative;
    /* border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb; */
    padding-bottom: 20px;
}

.gallery-filters {
    transition: all 3s ease;
}

.portfolio-section .filter-button {
    transition: all 3s ease;

}


.product-gallery-section .portfolio-section #form1 {
    border-bottom: none;
    margin-bottom: 20px;
}

.product-gallery-section {
    background: #F8F8F8;
}

.product-gallery-section .portfolio-2 {
    background: #fff;   
}

.product-gallery-section .portfolio-section .filter-button.active {
    background-color: transparent;
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}

.product-gallery-section .portfolio-section .filter-button {
    background-color: transparent;
    transition: all 3s ease;
}

.product-gallery-section .portfolio-section .isotopeSelector .overlay-background i {
    left: 30%;
    text-align: center;
    margin: 0 20px;
    background: #FF6000;
}

.product-gallery-section .portfolio-section .isotopeSelector .overlay-background i {
    left: 29%;
    text-align: center;
    margin: 0 20px;
}

.product-gallery-section .portfolio-section .isotopeSelector .overlay-background i:nth-child(2) {
    left: 42%;
    margin: 0 20px;
}

.product-gallery-section .portfolio-section .isotopeSelector .overlay-background i:nth-child(3) {
    left: 55%;
    margin: 0 20px;
}

.product-gallery-section .product-gallery-innr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.most-popular-product-heading {
    background: #FF6000;
    color: #fff;
    padding: 10px 60px 10px 30px;
    clip-path: polygon(0 0, 100% 0%, 91% 100%, 0% 100%);
    margin-left: -12px;
}

.most-popular-product-heading h4 {
    font-size: 28px;
    font-weight: 500;
}


@media only screen and (max-width: 767px) {
    .product-gallery-section .product-gallery-innr {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .most-popular-product-heading {
        padding: 10px 40px 10px 10px;
    }
}




/* -------------- Best Selling Product --------------- */
.best-selling-product {
    background: #fff;
}

.best-selling-product .sellingProduct-title {
    text-align: center;
    background: #FFA800;
}

.best-selling-product .sellingProduct-title h3 {
    color: #FFFFFF;
    font-weight: 500;
}

.best-selling-product .product-description {
    padding: 10px;
}

.sellingproduct-item {
    background: #F8F8F8;
    margin: 1.5rem;
}

.best-selling-product .sellingproduct-item .product-description h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #444444;
}

.best-selling-product .sellingproduct-item .rating i {
    font-size: 12px;
    color: #E5AB3A;
}

.best-selling-product .sellingproduct-item .product-description p {
    font-size: 14px;
}

.best-selling-product .sellingproduct-item .product-description .discount-price {    
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    color: #FF6000;
    padding: 0;
}

.best-selling-product .sellingproduct-item .product-item-image {
    padding: 10px;
}




/* ------------------- Top Categories --------------------- */
.top-category-wrapper .top-category-body {
    background-color: #F8F8F8F8;
    padding: 20px;
}

.top-category-wrapper .top-category-body .top-category-main {
    display: flex;
    justify-content: center;
    margin: auto;
}

.top-category-wrapper .top-ctg-title {
    background-color: #FF6000;
    max-width: 550px;
    color: #FFFFFF;
    font-weight: 500;
    padding: 12px;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
}

.top-category-wrapper .top-ctg-title span {
    font-weight: 600;
}

.top-category-wrapper .top-category-body .custom-container .category-content {
    display: flex;
    background-color: #FFEFE5;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 11px auto;
}

.top-category-wrapper .top-category-body .custom-container .category-content img {
    height: 200px;
}

.top-category-wrapper .top-category-body .custom-container .category-content .image {
    display: flex;
    justify-content: center;
}

.top-category-wrapper .top-category-body .custom-container .category-content .text-part {
    color: #000000;
    margin: auto;
    display: flex;
    justify-content: center;
}

@media (max-width: 991px) {
    .top-category-wrapper .top-category-body .custom-container .first-text {
        display: flex;
        flex-direction: column-reverse;
    }
}





/* ------------------- Daily Best Product Sales --------------------- */
.sale-product-section-title {
    max-width: 350px;
    background: #FF6000;
    -webkit-clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%);
    padding: 14px;
    box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.7);
}

.sale-product-section-title h3 {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

.daily-best-sale-product {
    background: #FFFFFF;
}

.daily-best-sale-product .dailySale-item {
    padding: 20px;
}

.daily-best-sale-product .dailySale-item .row {
    background: #F8F8F8;
    padding: 15px 0;
}

.daily-best-sale-product .dailySale-item .row .daily-Sale-Image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.daily-best-sale-product .dailySale-item .row .daily-Sale-Image img {
    height: 170px !important;
    width: 200px !important;
}

.daily-best-sale-product .dailySale-item .row .sale-text .sale-price,
.new-products-section .row .sale-text .sale-price {
    color: black;
    font-size: 16px;
}

.daily-best-sale-product .dailySale-item .row .sale-text .previous-price,
.new-products-section .row .sale-text .previous-price {
    color: #FF6000;
    font-size: 16px;
}

.sale-button {
    margin-top: 20px;
}

.sale-button a {
    background: #FF6000;
    padding: 10px 20px 10px 20px;
    color: #FFFFFF;
    border-radius: 10px;
}




/* ------------------- New Products Section --------------------- */
.new-products-title {
    max-width: 300px;
    background: #FF6000;
    -webkit-clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%);
    padding: 14px;
    box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.7);
}

.new-products-title h3 {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}



.slick-slide {
    margin: 0 0;
}

.sale-price img {
    display: inline;
}

@media (max-width: 575.98px) {
    .item-container {
        border-right: none;
    }

    .sale-product {
        width: 40%
    }
}




/* ------------------- Offer Section --------------------- */
.offer-section {
    background-color: #ffffff;
    margin-top: 80px;
}

.offer-section .mid-div {
    background-color: #ffefe5;
}

.offer-section .theme-card {
    margin-top: 38px;
    margin-bottom: 15px;
}

.b-g-1 {
    background-color: transparent;
}

.offer-section .theme-card .view-more {
    color: #000;
    text-align: center;
}

.offer-section .theme-card .view-more i {
    margin-left: 10px;
}

.offer-section .media-banner-box.boxx {
    display: flex;
    justify-content: center;
}

.offer-section .theme-card .media-banner-box h4 {
    margin-top: 25px;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 10px;
    color: #000;
    letter-spacing: 0.05em;
}

.offer-section .theme-card .media-body h5 {
    text-align: center;
}

.offer-section .theme-card .media-body h5.line-through {
    text-decoration: line-through;
}





/* ---------------------- Custom Footer ---------------------- */
.footer-main {
    background-color: #000000;
}

.footer-main .footer-section-1 .title {
    background-color: var(--text-white);
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.footer-main .footer-section-2 h6,
.footer-main .footer-section-3 h6 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.footer-main .footer-section-3 .important-links-list {
    list-style: none;
}

.footer-main .footer-section-3 .important-links-list li {
    display: block;
    margin-bottom: 8px;
}

.footer-main .footer-section-3 .important-links-list li a {
    color: var(--text-white);
}

.subfooter {
    background-color: #2A2A2A;
}




/* ---------------------- Open Cart - Sidebar ---------------------- */
.add_to_cart .cart-inner .cart_top{
    background-color: rgba(255, 96, 0, 0.08);
}
.add_to_cart .cart-inner .cart_top h3{
    font-weight: 500;
}
.add_to_cart .cart-inner .cart_media ul.cart_product li .media .media-body h6{
    font-weight: 500;
}
.add_to_cart .cart-inner .cart_media ul.cart_product li .media .media-body h4{
    font-weight: 600;
}
.add_to_cart .cart-inner .cart_media ul.cart_total{
    background-color: rgba(255, 96, 0, 0.08);
    padding: 0;
}
.add_to_cart .cart-inner .cart_media ul.cart_total li{
    font-size: 14px;
}
.add_to_cart .cart-inner .cart_media ul.cart_total li .total{
    font-size: 16px;
}
.add_to_cart .cart-inner .cart_media ul li .add-coupons{
    background-color: #EDEDED;
    padding: 10px;
}
.add_to_cart .cart-inner .cart_media ul li .add-coupons .coupon-input input{
    width: 130px;
    border: none;
    font-size: 12px;
    padding: 0 10px;
    background-color: #D4D4D4;
}
.add_to_cart .cart-inner .cart_media ul li .add-coupons .coupon-input input:focus{
    outline: none;
}
.add_to_cart .cart-inner .cart_media ul li .add-coupons .coupon-input .btn{
    font-size: 12px;
}
.add_to_cart .cart-inner .cart_media ul.cart_total li .buttons span{
    font-size: 12px;
     float: left;
}

/* ---------------------- Quick View Modal ---------------------- */
.product-quick-view-modal .modal-close-btn {
    position: absolute;
    right: 20px;
    top: 10px;
    width: 20px;
    height: 20px;
}

.product-quick-view-modal .modal-close-btn button {
    color: var(--primary) !important;
}

.product-quick-view-modal .modal-body .image-list {
    display: flex;
    height: 100%;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
}

.product-quick-view-modal .modal-body .image-list img {
    cursor: pointer;
}

.product-quick-view-modal .modal-body .product-details .rating-container {
    font-size: 10px;
}

.product-quick-view-modal .modal-body .product-details .product-title {
    font-weight: 500;
    font-size: 34px;
}

.product-quick-view-modal .modal-body .product-details .rating-container .rating-list {
    display: inline-block;
}

.product-quick-view-modal .modal-body .product-details .rating-container .rating-list i {
    color: #FFB31F;
}

.product-quick-view-modal .modal-body .product-details .best-seller-active-view-container button {
    background-color: #E3E3E3;
    font-size: 12px;
}

.product-quick-view-modal .modal-body .product-details .best-seller-active-view-container button i {
    color: var(--primary);
}

.product-quick-view-modal .modal-body .product-details .product-description p {
    font-size: 12px;
    color: var(--dark-gray);
    text-align: justify;
    font-weight: 400;
}

.product-quick-view-modal .modal-body .product-details .product-size h4,
.product-quick-view-modal .modal-body .product-details .product-color h4,
.product-quick-view-modal .modal-body .product-details .product-quantity h4 {
    font-weight: 600;
    color: black;
    margin-bottom: 10px;
}

.product-quick-view-modal .modal-body .product-details .product-size ul li button {
    background-color: var(--secondary);
    color: white;
}

.product-quick-view-modal .modal-body .product-details .product-color ul li button {
    font-size: 40px;
    padding: 0 3px;
}

.product-quick-view-modal .modal-body .product-details .product-color ul li button.violate {
    color: #7024C4;
}

.product-quick-view-modal .modal-body .product-details .product-color ul li button.blue {
    color: #3C96FF;
}

.product-quick-view-modal .modal-body .product-details .product-color ul li button.black {
    color: black;
}

.product-quick-view-modal .modal-body .product-details .product-color ul li button.green {
    color: #1F9B00;
}

.product-quick-view-modal .modal-body .product-details .product-color ul li button.yellow {
    color: #FFD12E;
}

.product-quick-view-modal .modal-body .product-details .product-color ul li button.orange {
    color: #FF6000;
}

.product-quick-view-modal .modal-body .product-details .product-color ul li button.red {
    color: #EF0000;
}

.product-quick-view-modal .modal-body .product-details .product-quantity .product-quantity-inner {
    display: flex;
}

.product-quick-view-modal .modal-body .product-details .product-quantity .product-quantity-inner button {
    padding: 5px 10px;
    border: 1px solid lightgray;
    background: transparent;
}

.product-quick-view-modal .modal-body .product-details .product-quantity .product-quantity-inner input {
    margin: 0;
    width: 90px;
    text-align: center;
    border: 1px solid lightgray;
    background: transparent;
}