
.breadcrumb-main{
    margin-left: 275px;
    background: none;
}

.breadcrumb-main ul li{
    font-size: 16px;
    padding-right: 10px;
}
.product-right .pro-group ul.pro-price li:last-child {
    color: #FF6000;;
    font-size: 80%; }
.material li:first-child{
    border-right:1px solid #939B9E;;
    padding-right: 20px;
    margin-right: 10px;
}
.pro-group  .size-box ul li{
    background: #FFA800;
}
.product-description .color-selector ul li div{
    border-radius: 50%;
}
.product-description  .product-buttons a{
    background: #FF6000;
}
.product-right .pro-group  .product-tag{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 30px;
}
.product-right .pro-group .product-tag   .product-tags a{
    color: #000000;
    font-size: 18px;
    padding-right: 20px;
}
.product-detail-pill   .product-detail-button{
    border: none;
    background: transparent;
    color: #000000;
    font-size: 18px;
}
.product-detail-pill  .product-detail-button.active{
    color: #FF6000;
    background: none;
    position: relative;
}
.product-detail-pill    .product-detail-button.active::after{
 position: absolute;
 content: "";
 background:#FF6000 ;
 width: 100%;
 height: 3px;
 bottom: -2px;
 left: 1px;
 z-index: 1;
}
#product-details{
    background: #ffff;
    padding: 3rem;
}
.product-detail-review .product-detail-rating-icon{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.product-detail-review  .product-detail-rating-icon ul li .fa-star{
    color: #FFB31F;
}
.product-detail-review .pro-form-tag label{
    font-size: 20px;
}
 .product-detail-review .product-detail-review{
    outline: none;
    resize: none;
}
.product-detail-submit button{
    background: #FF6000;
    margin-top: 3rem;
    border: none;
    color: #ffff;
    padding: 10px 20px 10px 20px;
    text-transform: capitalize;
}
.tableCart .product-chart-first{
    background: #FF6000;
    color: #FFFFFF;
}
.tab-pane .tableCart table tr td{
    padding: 10px;
    text-align: center;
    border: 0.5px solid #939B9E;
}
.tableCart table{
    width: 100%;
    margin-top: 3rem;
}
.product-detail-video  .product-detail-video-link .video-image {
    width: 950px;
    height: 400px;
}
.product-detail-video .product-detail-video-link{
    margin: 0 auto;
    position: relative;
}
.video-link-iocon .fa-youtube{
    color: red;
    font-size: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}
.recommende-text{
    border-bottom: 0.5px solid #939B9E; ;
}
.recommended-For-you  .recommended-item{
    background: #ffff;
}
.recommended-For-you .recommended-text h3{
    font-size: 16px;
    color: #444444;
    
}
.recommended-For-you .recommende-orange{
    color: #FF6000;
}
.recommended-rating ul li .fa-star{
    color: #FFB31F;
}
.product-detail-pill{
    border-bottom: 1px solid #939B9E;
}
.tab-product .nav-material.nav-tabs .nav-item .material-border, .product-full-tab .nav-material.nav-tabs .nav-item .material-border {
    border-bottom: 2px solid #FF6000;;
    opacity: 0;
}
.tab-product .nav-material.nav-tabs .nav-link.active, .product-full-tab .nav-material.nav-tabs .nav-link.active {
    color: #FF6000;
}
@media (max-width: 575px){
.breadcrumb-main {
    margin-left: 0px;
}
.recommended-item{
    margin-top: 3rem;
}
}